@font-face {
  font-family: 'Inter Regular';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --bg: white;
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-150: #ededed;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
}

$text-default-color: var(--neutral-900);
$border-color: var(--neutral-200);
$header-height: 48px;
$left-nav-width: 200px;
$footer-height: 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $text-default-color;
  background-color: var(--bg);

  overflow: hidden; // There's some overflow in the body. I should debug this later
}
pre {
  font-family: 'Inter', sans-serif;
  // line-height: 1.5;
}

.container {
  height: 100vh;
  overflow: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
abbr {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
i {
  cursor: pointer;
}
.lucide {
  color: $text-default-color;
  width: 18px;
  height: 18px;
  stroke-width: 2.5px;
}
.disabled-icon {
  color: var(--neutral-400);
}
.icon-btn {
  cursor: pointer;
  border: none;
  background: none;
}

header {
  height: $header-height;
  display: flex;

  div {
    height: 100%;
  }
  .logo-box {
    width: $left-nav-width;
    display: flex;
    align-items: center;

    h1 {
      margin-left: 1rem;
      letter-spacing: -1px;
      font-weight: 700;
    }
  }
  .search-bar-box {
    width: calc(100% - $left-nav-width);
  }
}
footer {
  height: $footer-height;
  border-top: 1px solid $border-color;
}
.layout-container {
  display: flex;
  height: calc(100vh - $header-height - $footer-height);

  .left-nav {
    width: $left-nav-width;
    overflow: auto;
    ul {
      li {
        a {
          padding: 0.5rem 0;
          padding-left: 1rem;
          display: flex;
          gap: 0.4rem;
          height: 100%;
          font-weight: 500;
        }
        :hover {
          background-color: var(--neutral-150);
        }
      }
    }
  }
  .main-section {
    height: calc(100vh - $header-height - $footer-height);
    overflow: hidden;
    width: calc(100% - $left-nav-width);
  }
}
.loading-container {
  display: flex;
  justify-content: center;
  div {
    display: flex;
    background-color: var(--neutral-200);
    padding: 0.2rem;
  }
  p {
    font-weight: 600;
  }
}
table {
  border-collapse: collapse;
}
.envelope-container {
  height: calc(100vh - $header-height - $footer-height - 0.5rem);
  overflow: auto;
  margin: 0 0.5rem;
  border-radius: 10px;
  border: 1px solid $border-color;
}
.toolbar {
  height: 44px;
  background-color: var(--bg);
  padding: 1rem 0.6rem;
  display: flex;
  gap: 1.5rem;
  position: sticky;
  top: 0;
}
.navbar {
  height: 44px;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.6rem;
  position: sticky;
  top: 0;
  // border-bottom: 1px solid $border-color;

  div {
    display: flex;
    gap: 0.5rem;
  }
}
.envelope-list {
  width: 100%;
}
.envelope {
  cursor: pointer;
  border-bottom: 1px solid $border-color;
  td {
    padding: 0.6rem;
  }
  .from {
    width: 22%;
  }
  .subject {
    width: 60%;
  }
  .date {
    width: 18%;
    color: var(--neutral-500);
    font-weight: normal;
    text-align: right;
    margin-right: auto;
  }
}

.envelope:hover {
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.15),
    0 -2px 4px rgba(0, 0, 0, 0.15);
}
.message-container {
  padding: 1rem 1.5rem;
  .message-header {
    margin-bottom: 1.5rem;
    .subject {
      font-size: 24px;
      margin-bottom: 1rem;
    }
    .top {
      display: flex;
      align-items: center;
      gap: 1rem;
      .date {
        color: var(--neutral-500);
      }
    }
    .from {
      font-weight: 600;
    }
    .to {
      margin-top: 0.5rem;
      font-size: 12px;
      color: var(--neutral-600);
    }
  }
  .message-body {
    line-height: 1.5;
  }
  .attachments {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .title {
      padding: 1rem 0;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      p {
        font-weight: 600;
        font-size: 16px;
      }
    }

    ul {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;

      li {
        border: 1px solid $border-color;
        padding: 0.6rem;
        display: flex;
        align-items: center;

        gap: 1rem;

        .filename {
          font-weight: 600;
        }
        .size {
          font-size: 12px;
          color: var(--neutral-500);
        }
      }
    }
  }
}
.error-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  h1 {
    font-size: 42px;
    color: var(--neutral-500);
  }
}
